# **Basic  Syntax Rules**

In [ ]:
print("hello world") #function call
x=5 #variable assignment
y=10 #no need to declare type

hello world

## Python in case **Sensitive**

In [ ]:
Name="Even"
name="levi"
print(Name,name)

Even levi

### **Indentationn**

In [ ]:
if x>0:
  print("x is positive")
  print("This is inside the if block")

x is positive
This is inside the if block

## Numeric **Types**

In [ ]:
age=25 #integer
height=5.9 #float
complex_num=3+4j #complex

## **String type**

In [ ]:
name="alice"
massage="hello world"
multiline="""This is
a Multiline text"""

## **Boolean Type**

In [ ]:
is_active=True
is_finished=false

NameError: name 'false' is not defined

## Type **Checking**

In [ ]:
print(type(age))
print(type(height))
print(type(name))

<class 'int'>
<class 'float'>
<class 'str'>

### Type **Conversion**

In [ ]:
str_num="123"
int_num=int(str_num)
float_num=float(str_num)
print(f"Original:{str_num} (type:{type(str_num)})")
print(f"Integer:{int_num} (type:{type(int_num)})")
print(f"Float:{float_num} (type:{type(float_num)})")

Original:123 (type:<class 'str'>)
Integer:123 (type:<class 'int'>)
Float:123.0 (type:<class 'float'>)

## **Hand-on Exercise**

# **Exercise 1:Personal Information**

# Create various for personal

In [ ]:
first_name="Chinmay"
last_name="Karjagimath"
age=20
height=5.7
is_student=True

# Print Formatted information

In [ ]:
print(f"Name:{first_name} {last_name}")
print(f"Age:{age}")
print(f"Height: {height}")
print(f"Student: {is_student}")

Name:Chinmay Karjagimath
Age:25
Height: 5.9
Student: True

# Type Conversion

In [ ]:
age_str=str(age)
height_int=int(height)
print(f"Age as String: {age_str}")
print(f"Height as Integer: {height_int}")

Age as String: 25
Height as Integer: 5

## **Operators and Basic Oparations*

# Arithmetic Oparations

In [ ]:
a=10
b=3
print(f"Addition: {a} + {b} = {a+b}")
print(f"Subtraction: {a} - {b} = {a-b}")
print(f"Multiplication: {a} * {b} = {a*b}")
print(f"Division: {a} / {b} = {a/b}")
print(f"Floor division: {a} // {b} = {a//b}")
print(f"Modulus: {a} % {b} = {a%b}")
print(f"Exponentiation: {a} ** {b} = {a**b}")

Addition: 10 + 3 = 13
Subtraction: 10 - 3 = 7
Multiplication: 10 * 3 = 30
Division: 10 / 3 = 3.3333333333333335
Floor division: 10 // 3 = 3
Modulus: 10 % 3 = 1
Exponentiation: 10 ** 3 = 1000

# Order of Operations(PEMDAS)

- P - Parentheses
- E - Exponents
- M - Multiplication
- D - Division
- A - Addition
- S - Subtraction

# Relational Operators (or) Comparsion

In [ ]:
x=5
y=10
print(f"{x} == {y}: {x==y}") #Equal to
print(f"{x} != {y}: {x!=y}") #Not equal to
print(f"{x} < {y}: {x<y}") # Less than
print(f"{x} > {y}: {x>y}") # Greater than
print(f"{x} <= {y}: {x<=y}") # Less than or Equal
print(f"{x} >= {y}: {x>=y}") # Greater than or Equal

5 == 10: False
5 != 10: True
5 < 10: True
5 > 10: False
5 <= 10: True
5 >= 10: False

# String Operations

In [ ]:
name1="Eren"
name2="Levi"
print(f"'{name1}' < '{name2}': {name1<name2}")

'Eren' < 'Levi': True

## Logical Operators

In [ ]:
p=True
q=False
print(f"p and q:{p and q}") # Both must be True
print(f"p or q:{p or q}") # At least one must be True
print(f"not p:{not p}") # Opposite of p

p and q:False
p or q:True
not p:False

### **Dictionaries**

# Dictionary Creation

In [ ]:
person={"name":"Alicer Jhonson","age":23,"profession":"Software Engineer","salary":75000,"skills":["python","Javascript","SQL"]}

Accessing Values

In [ ]:
print(f"Name:{person['name']}")
print(f"Age:{person.get('age','unknown')}") #safe access

# Dictionary Methods

In [ ]:
print(f"Keys:{list(person.keys())}")
print(f"Values:{list(person.values())}")
print(f"Items:{list(person.items())}")

# Adding/updating

In [ ]:
person["location"]="New York"
person["salary"]=80000 #update existing

# Practical use case: Inventory **Management**

In [ ]:
inventory={"laptops":{"quantity":50,"price":999.99},"phone":{"quantity":50,"price":599.99},"tablets":{"quantity":50,"price":399.99}}

# Nested Access

In [ ]:
print(f"Laptop prices:${inventory['laptops']['price']}")

Laptop prices:$999.99

## **Sets**

## Sets contain unique **elements**

In [ ]:
colors={"red","green","blue","red"} #Duplicate removed
print(f"colors:{colors}")

colors:{'blue', 'red', 'green'}

# Set Operation

In [ ]:
team1_skills={"Python","Javascripts","SQL","React"}
team2_skills={"Javascripts","SQL","java","spring"}

# Comman Operations

In [ ]:
print(f"common skills:{team1_skills.intersection(team2_skills)}")
print(f"All skills:{team1_skills.union(team2_skills)}")
print(f"Team1 only:{team1_skills.difference(team2_skills)}")

common skills:{'Javascripts', 'SQL'}
All skills:{'Javascripts', 'SQL', 'React', 'Python', 'spring', 'java'}
Team1 only:{'Python', 'React'}

# Adding to sets

In [ ]:
colors.add("yellow")
colors.update(["purple","orange"])
print(f"update colors:{colors}")

update colors:{'purple', 'yellow', 'blue', 'red', 'green', 'orange'}

# **Control Flow**

## Conditional Statements

### Basic if-else

In [ ]:
def get_grade_letter(score):
  if score >=90:
    return "A"
  elif score >80:
    return "B"
  elif score >70:
    return "C"
  elif score >60:
    return "D"
  else:
    return "F"

# Test the Function

In [ ]:
test_scores=[95,83,72,65,58]
for score in test_scores:
  grade=get_grade_letter(score)
  print(f"Score {score}: Grade {grade}")

Score 95: Grade A
Score 83: Grade B
Score 72: Grade C
Score 65: Grade D
Score 58: Grade F

# Nested Consition

In [ ]:
def get_shipping_cost(weight, distance):
  base_cost = 5.0

  if weight <= 1:
    weight_cost = 2.0
  elif weight<=5:
    weight_cost=5.0
  else:
    weight_cost=10.0

  if distance<=100:
    distance_cost=1.0
  elif distance<=500:
    distance_cost=3.0
  else:
    distance_cost=7.0
  return base_cost+weight_cost+distance_cost

# Test Shipping Costs

In [ ]:
print(f"Light, colors:${get_shipping_cost(0.5,50)}")
print(f"Heavy, far:${get_shipping_cost(10,800)}")

Light, colors:$8.0
Heavy, far:$22.0

## Loops-For loop

### Basic for loops

In [ ]:
fruits=["apple","banana","orange","grapes"]
for fruits in fruits:
  print(f"I like {fruits}")

I like apple
I like banana
I like orange
I like grapes

### loop with enumarate (get index)**bold text**

In [ ]:
for i,fruits in enumerate(fruits):
  print(i+1,fruit)

1 grapes

### loop with range

In [ ]:
for day in range(1,8):
  print(day)

1
2
3
4
5
6
7

### Nested loop creating a Multiplication table

In [ ]:
print("multiplication table:")
for i in range(1,6):
  for j in range(1,6):
    product=i*j
    print(f"{i}*{j}={product:2d}",end=" ")
    print()

multiplication table:
1*1= 1
1*2= 2
1*3= 3
1*4= 4
1*5= 5
2*1= 2
2*2= 4
2*3= 6
2*4= 8
2*5=10
3*1= 3
3*2= 6
3*3= 9
3*4=12
3*5=15
4*1= 4
4*2= 8
4*3=12
4*4=16
4*5=20
5*1= 5
5*2=10
5*3=15
5*4=20
5*5=25

### Processing data with loops

In [ ]:
sales_data=[
    {"product":"laptop","price":999,"quantity":5},
    {"product":"phone","price":599,"quantity":10},
    {"product":"Tablet","price":399,"quantity":3}
]
total_revenue=0

for item in sales_data:
    item_revenue = item["price"] * item["quantity"]
    total_revenue += item_revenue
    print(f"{item['product']}: ${item_revenue}")

    print(f"Total Revenue: ${total_revenue}")

laptop: $4995
Total Revenue: $4995
phone: $5990
Total Revenue: $10985
Tablet: $1197
Total Revenue: $12182

### while loop for user input simulation

In [ ]:
def simple_guessing_game():
  target=7
  guess=0
  attempts=0
  print("Guess the number bt 1 and 10")
  while guess !=target:
    #simulate user inpout
    import random
    guess=random.randint(1,10)
    attempts+=1

    if guess <target:
      print(f"Guess{attempts}: {guess}- Too low!")
    elif guess > target:
      print(f"Guess{attempts}: {guess}- Too high!")
    else:
      print(f"Guess{attempts}: {guess}- correct")

    if attempts>10:
      print("max attempts reached!")
      break

  print(f"Game finished in{attempts} attempts")
simple_guessing_game()

Guess the number bt 1 and 10
Guess1: 3- Too low!
Guess2: 3- Too low!
Guess3: 1- Too low!
Guess4: 3- Too low!
Guess5: 1- Too low!
Guess6: 5- Too low!
Guess7: 2- Too low!
Guess8: 9- Too high!
Guess9: 9- Too high!
Guess10: 4- Too low!
Guess11: 5- Too low!
max attempts reached!
Game finished in11 attempts

### While loop for Processing

In [ ]:
def process_queue():
  queue=["Task 1","Task 2","Task 3","Task 4"]

  while queue:
    current_task=queue.pop(0) #Remove first item
    print(f"Processing:{current_task}")

    print(f"Remaining tasks:{len(queue)}")

  print("All tasks completed")

process_queue()

Processing:Task 1
Remaining tasks:3
Processing:Task 2
Remaining tasks:2
Processing:Task 3
Remaining tasks:1
Processing:Task 4
Remaining tasks:0
All tasks completed

# Functions **Basics**

## Basic Function Definition

In [ ]:
def greet(name):
  return f"Helloo, {name}!"

## **Function call**

In [ ]:
message=greet("Python programming")
print(message)

Helloo, Python programming!

## function with multiple parameters

In [ ]:
def calculate_area(length,width):
  area= length * width
  return area

## Test the function

In [ ]:
room_area=calculate_area(12,10)
print(f"Room area :{room_area} square feet")

Room area :120 square feet

## Function with  default parameters

In [ ]:
def create_user_profile(name,age=18,location="unknown",active=True):
  return {
      "name":name,
      "age":age,
      "locatiob":location,
      "active":active
  }

## Different ways to call

In [ ]:
profile1=create_user_profile("alice") # Use defaults
profile2=create_user_profile("bob",25) # Override age
profile3=create_user_profile("charlie",location="new york",age=30) # Named parameters

print(f"profile 1:{profile1}")
print(f"profile 2:{profile2}")
print(f"profile 3:{profile3}")

profile 1:{'name': 'alice', 'age': 18, 'locatiob': 'unknown', 'active': True}
profile 2:{'name': 'bob', 'age': 25, 'locatiob': 'unknown', 'active': True}
profile 3:{'name': 'charlie', 'age': 30, 'locatiob': 'new york', 'active': True}

# Advance Functions Concepts

## Function Returning Multiple values

In [ ]:
def analyze_text(text):
  word_count=text.split()
  char_count=len(word_count)
  char_count_no_spaces=len(text.replace(" "," "))
  return word_count,char_count,char_count_no_spaces

## Test with Sample text

In [ ]:
sample_text="Python is powerfull programming language"

word_count,char_count,chars_no_space=analyze_text(sample_text)

print(f"Text: '{sample_text}'")
print(f"Word count: {word_count}")
print(f"character count: {char_count}")
print(f"characters (no spaces): {chars_no_space}")

Text: 'Python is powerfull programming language'
Word count: ['Python', 'is', 'powerfull', 'programming', 'language']
character count: 5
characters (no spaces): 40

## Variable Length argument

In [ ]:
def calculate_average(*numbers):
  if not numbers:
    return 0
  return sum(numbers)/len(numbers)

### Text with Different Number of argument

In [ ]:
avg1= calculate_average(10,20,30)
avg2=calculate_average(5,15,25,35,45)
avg3=calculate_average(100)
print(f"Average of 10,20,30:{avg1}")
print(f"Average of 5,15,25,35,45:{avg2}")
print(f"Average of 100:{avg3}")

Average of 10,20,30:20.0
Average of 5,15,25,35,45:25.0
Average of 100:100.0

### Keyword Argument

In [ ]:
def create_report(**data):
  print("==REPORT===")
  for key,value in data.items():
    print(f"{key.replace('-','').title()}:{value}")
  print("=========")

create_report(title="monthly sales report",date="2024-01-01",total_sales=15000,new_customers=25,returning_customers=159)

==REPORT===
Title:monthly sales report
Date:2024-01-01
Total_Sales:15000
New_Customers:25
Returning_Customers:159
=========

# Lambda Function

## Lambda function (anonymous functions)

### Regular Functions

In [ ]:
def square(x):
  return x**2

### Lambda equivalent

In [ ]:
square_lambda=lambda x:x**2
print(f"regular function:{square(5)}")
print(f"Lambda function: {square_lambda(5)}")

regular function:25
Lambda function: 25

### Lambda with multiple arguments

In [ ]:
multiply = lambda x, y: x*y
print(f"multiply: {multiply(3,4)}")

multiply: 12

### Lambda with built-in functions

In [ ]:
numbers=[1,2,3,4,5]
squared=list(map(lambda x: x**2,numbers))
print(f"Squared Numbers:{squared}")

Squared Numbers:[1, 4, 9, 16, 25]

### Filtering with lambda

In [ ]:
ages=[16,21,35,12,45,18,67]
adults=list(filter(lambda age: age >=18, ages))
print(f"Adult ages: {adults}")

Adult ages: [21, 35, 45, 18, 67]

### Sorting with lambda

In [ ]:
people = [
    {"name":"Alice","age":25},
    {"name":"Bob","age":25},
    {"name":"Charlie","age":35},
]

sorted_people=sorted(
    people,
    key=lambda person:person["age"])
print("People sorted by age:")

for person in sorted_people:
  print(f"{person['name']}:{person['age']}")

People sorted by age:
Alice:25
Bob:25
Charlie:35